/* start flex */
.d-flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}
/* end flex */

/* start position */
.p-relative {
  position: relative;
}
/* end position */

/* start padding */
.p-0 {
  padding: 0px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.p-20 {
  padding: 20px;
}
/* end padding */
