* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #f9ae37;
  --white-color: #fff;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  background-color: #010001;
  margin-top: 3px;
  box-shadow: 2px -2px 10px 2px var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 250;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

header .container .toggle-menu {
  color: var(--white-color);
  font-size: 30px;
  position: relative;
}

header .container .toggle-menu:hover + .links {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(189, 124, 15, 0.8);
}

header .container .toggle-menu:hover + .links li a {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
}

@media (min-width: 768px) {
  header .container .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header .container .links {
    display: none;
  }
  header .container .toggle-menu + .links li a:hover {
    padding-left: 5px;
  }
}
header .links {
  display: flex;
  margin: 0;
  padding: 0;
}
header .links li a {
  color: var(--white-color);
  padding: 0 30px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

header .links li a.active {
  color: var(--main-color);
}

header .links li a:hover {
  color: var(--main-color);
}

main {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

main .header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .header-text h1 {
  color: var(--white-color);
  font-size: 50px;
  margin: 0;
}

main .header-text p {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: #aaa;
}

main .find-car {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
}

main .find-car input {
  padding: 10px 20px;
  outline: none;
  border: 2px solid #ccc;
  transition: 0.3s;
  caret-color: var(--main-color);
}

main .find-car input:focus {
  border: 2px solid var(--main-color);
}

main .find-car button {
  padding: 5px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  height: 32.8px;
  border-radius: 5px;
}

main .find-car button:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

main .find-car select {
  width: 300px;
  border-radius: 5px;
  padding: 0px 10px;
}

main .find-car select:focus {
  outline: none;
}

/* start products page */
.products {
  padding-top: 120px;
}

.products .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.products .box {
  background-color: #010001;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  padding: 5px;
}

.products .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 1;
}

.products .box:hover::after {
  width: 100%;
  height: 100%;
}

.products .box .image img {
  max-width: 100%;
}

.products .box .image span {
  position: absolute;
  right: 0;
  top: -65px;
  background-color: var(--main-color);
  padding: 6px 6px 6px 6px;
  transform: rotate(45deg) translate(45%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .box .image a {
  background: black;
  color: var(--main-color);
  position: absolute;
  top: 50%;
  right: -30%;
  display: block;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.products .box:hover .image a {
  right: 30%;
}

.products .box .info {
  padding: 20px;
}

.products .box .car-name {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products .box .car-name .logo {
  width: 70px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 5px;
  left: -10px;
  z-index: 5;
}

.products .box .car-name .honda {
  border-radius: 0;
  top: 12px;
  left: 2px;
}

.products .box .car-name .tesla {
  top: 11px;
  left: -3px;
}

.products .box .car-name .jeep {
  top: 7px;
  left: 8px;
}

.products .box .car-name .mercedes {
  left: -8px;
}

.products .box .car-name h4 {
  font-size: 18px;
}

.products .box .car-name p {
  color: var(--main-color);
}

.products .box .car-info {
  color: #aaa;
  font-size: 14px;
  margin-top: 20px;
  border-top: 1px solid #aaa;
  padding-top: 20px;
}

.products .box .car-info ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products .box .car-info ul li i {
  margin-right: 5px;
}

.products .box .car-info {
  color: #aaa;
}
